.custom-card-group {
  display: flex !important;
  flex-flow: wrap;
}

.custom-card {
  flex: 1 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.custom-card-img {
  flex: 1 50%;
  height: 50%;
}

.custom-card-body {
  flex: 1 50%;
}

@media (min-width: 481px) and (max-width: 860px) {
  .custom-card {
    flex: 1 40%;
  }
}

@media only screen and (max-width: 480px) {
  .custom-card {
    flex: 1 100%;
  }
}
